<div>
    <h1 class="title">Countries Search (with AngularJS)</h1>
    <div>
        <div class="overlay" ng-if="auto.isLoading">
            <div id="loading"></div>
        </div>
        <div class="search-container">
            <input class="form-control" ng-model="auto.inputText" ng-change="auto.generateOptions()"/>
            <ul class="options-list">
                <li ng-if="auto.filteredOptions.length > 0 && auto.inputText.length > 0"
                    ng-repeat="option in auto.filteredOptions track by $index" ng-click="auto.selectOptionFromList(option)"
                        ng-bind="option.name">
                </li>
            </ul>
            <span class="no-results" ng-if="!auto.optionWasSelected && auto.inputText.length > 0 && auto.filteredOptions.length == 0">
                Sorry, no countries matched your search. Please try again.
            </span>
        </div>
    </div>
</div>
